In [2]:
import numpy as np
import pandas as pd

# Train

In [3]:
train = pd.read_csv("train/train.csv")

In [4]:
train.shape

(4132914, 3)

In [5]:
train.head()

,id,url,landmark_id
0,6e158a47eb2ca3f6,https://upload.wikimedia.org/wikipedia/commons...,142820
1,202cd79556f30760,http://upload.wikimedia.org/wikipedia/commons/...,104169
2,3ad87684c99c06e1,http://upload.wikimedia.org/wikipedia/commons/...,37914
3,e7f70e9c61e66af3,https://upload.wikimedia.org/wikipedia/commons...,102140
4,4072182eddd0100e,https://upload.wikimedia.org/wikipedia/commons...,2474

In [6]:
train[train['landmark_id'] == 104169].head()

,id,url,landmark_id
1,202cd79556f30760,http://upload.wikimedia.org/wikipedia/commons/...,104169
4286,380ca47156ef85f3,https://upload.wikimedia.org/wikipedia/commons...,104169
8269,f3a5002b94adfa6c,https://upload.wikimedia.org/wikipedia/commons...,104169
20896,7b23250b0959f667,https://upload.wikimedia.org/wikipedia/commons...,104169
21930,3daa23ddb7937b07,https://upload.wikimedia.org/wikipedia/commons...,104169

In [7]:
train[train['landmark_id'] == 104169]['url'][1]

'http://upload.wikimedia.org/wikipedia/commons/6/63/Ecosse200996-1.jpg'

In [8]:
train[train['landmark_id'] == 104169]['url'][4286]

'https://upload.wikimedia.org/wikipedia/commons/2/28/Stirling_Castle_%285455709703%29.jpg'

In [9]:
train[train['landmark_id'] == 104169]['url'][8269]

'https://upload.wikimedia.org/wikipedia/commons/d/d4/Ice_Cream_Van_-_geograph.org.uk_-_1484065.jpg'

In [10]:
train[train['landmark_id'] == 104169]['url'][20896]

'https://upload.wikimedia.org/wikipedia/commons/c/c9/Stirling_Castle_-_geograph.org.uk_-_832334.jpg'

In [11]:
train[train['landmark_id'] == 104169]['url'][21930]

'https://upload.wikimedia.org/wikipedia/commons/d/d1/Sterling_Panorama_%288003222821%29.jpg'

In [13]:
train.groupby('landmark_id').filter(lambda x : len(x) >= 500)

,id,url,landmark_id
11,ccf070a2da242d56,https://upload.wikimedia.org/wikipedia/commons...,138982
61,610d92e487e79c4d,https://upload.wikimedia.org/wikipedia/commons...,192931
77,794267df4e354360,https://upload.wikimedia.org/wikipedia/commons...,51272
91,8536cce9c8deb3fe,https://upload.wikimedia.org/wikipedia/commons...,138982
97,fe2692ce82b41150,https://upload.wikimedia.org/wikipedia/commons...,138982
...,...,...,...
4132839,fbdd89331368c092,https://upload.wikimedia.org/wikipedia/commons...,182973
4132862,334cb890ddafcbef,https://upload.wikimedia.org/wikipedia/commons...,21253
4132879,c4c438da1a00ee1e,http://upload.wikimedia.org/wikipedia/commons/...,158844
4132888,ce9183825f50fa8c,https://upload.wikimedia.org/wikipedia/commons...,105337
4132907,e619472613f58db4,https://upload.wikimedia.org/wikipedia/commons...,83144

In [16]:
train.groupby('landmark_id').filter(lambda x : len(x) >= 500)['landmark_id'].value_counts()

138982    10247
62798      4333
177870     3327
176528     3243
192931     2627
          ...
169349      506
90647       503
31094       503
194521      501
93154       500
Name: landmark_id, Length: 213, dtype: int64

# Train Attribution

In [12]:
train_attribution = pd.read_csv("train/train_attribution.csv")

In [13]:
train_attribution.shape

(4132914, 5)

In [14]:
train_attribution.head()

,id,url,author,license,title
0,6e158a47eb2ca3f6,http://commons.wikimedia.org/wiki/File:Observa...,Holger.Ellgaard,CC BY-SA 3.0(http://creativecommons.org/licens...,File:Observatoriet väderkammer 2013a.jpg
1,202cd79556f30760,http://commons.wikimedia.org/wiki/File:Ecosse2...,LeCardinal,CC-BY-SA-3.0(http://creativecommons.org/licens...,File:Ecosse200996-1.jpg
2,3ad87684c99c06e1,http://commons.wikimedia.org/wiki/File:Pirmase...,LoKiLeCh,GFDL(http://www.gnu.org/copyleft/fdl.html)/CC-...,File:Pirmasens Dynamikum.jpg
3,e7f70e9c61e66af3,http://commons.wikimedia.org/wiki/File:Occiden...,Andrés Osorio,CC BY 2.0(http://creativecommons.org/licenses/...,File:Occidental Vertical.jpg
4,4072182eddd0100e,http://commons.wikimedia.org/wiki/File:Looking...,Stephen Whittaker and Katharine Oakeshott,CC BY-SA 2.0(https://creativecommons.org/licen...,File:Looking downstream from the footbridge ov...

# Train Label To Category

In [15]:
train_label_to_category = pd.read_csv("train/train_label_to_category.csv")

In [16]:
train_label_to_category.shape

(203094, 2)

In [17]:
train_label_to_category.head()

   landmark_id                                           category
0            0  http://commons.wikimedia.org/wiki/Category:Hap...
1            1  http://commons.wikimedia.org/wiki/Category:Lui...
2            2  http://commons.wikimedia.org/wiki/Category:Gra...
3            3  http://commons.wikimedia.org/wiki/Category:Twe...
4            4  http://commons.wikimedia.org/wiki/Category:San...

In [18]:
train_label_to_category['category'][0]

'http://commons.wikimedia.org/wiki/Category:Happy_Valley_Racecourse'

In [19]:
train_label_to_category['category'][1]

'http://commons.wikimedia.org/wiki/Category:Luitpoldpark_in_Munich'

In [20]:
train_label_to_category['category'][2]

'http://commons.wikimedia.org/wiki/Category:Grand_Ventron'

In [21]:
train_label_to_category['category'][3]

'http://commons.wikimedia.org/wiki/Category:Tweed_Heads,_New_South_Wales'

In [22]:
train_label_to_category['category'][4]

'http://commons.wikimedia.org/wiki/Category:Santa_Maria_Immacolata_della_Concezione_(Rome)'

In [23]:
train_label_to_category['category_short'] = \
    train_label_to_category['category'].str.replace('http://commons.wikimedia.org/wiki/Category:', '').str.replace('_', ' ')

In [24]:
train_label_to_category[train_label_to_category['category_short'].str.contains('Tower', regex=True)]['category_short']

575                    Bicentennial Tower
702                         Baku TV Tower
896       Salesforce Tower (Indianapolis)
1098                         Prosta Tower
1136                  Bowman's Hill Tower
                       ...
201935                   Baiyoke Tower II
202058                  Akasaka Biz Tower
202185          Sailing Tower in Frombork
202600                      Juguang Tower
202972    Latarniana Tower in Gda%C5%84sk
Name: category_short, Length: 1191, dtype: object

# Index

In [25]:
index = pd.read_csv("index/index.csv")

In [26]:
index.shape

(761757, 1)

In [27]:
index.head()

                 id
0  fdf40612109ad174
1  5a6cc67c893daea6
2  87b88acb68cdc1f1
3  c4ac217ce087b251
4  05f269bf32be9d3e

# Index Image To Landmark

In [28]:
index_image_to_landmark = pd.read_csv("index/index_image_to_landmark.csv")

In [29]:
index_image_to_landmark.shape

(761757, 2)

In [30]:
index_image_to_landmark.head()

                 id  landmark_id
0  fdf40612109ad174        32888
1  5a6cc67c893daea6          552
2  87b88acb68cdc1f1        13626
3  c4ac217ce087b251         8699
4  05f269bf32be9d3e        30838

# Index Label To Category

In [31]:
index_label_to_category = pd.read_csv("index/index_label_to_category.csv")

In [32]:
index_label_to_category.shape

(101302, 2)

In [33]:
index_label_to_category.head()

   landmark_id                                           category
0            0  http://commons.wikimedia.org/wiki/Category:Sea...
1            1  http://commons.wikimedia.org/wiki/Category:Fra...
2            2  http://commons.wikimedia.org/wiki/Category:Rin...
3            3  http://commons.wikimedia.org/wiki/Category:Tak...
4            4  http://commons.wikimedia.org/wiki/Category:Iep...

# Test

In [34]:
test = pd.read_csv("test/test.csv")

In [35]:
test.shape

(117577, 1)

In [36]:
test.head()

                 id
0  00016575233bc956
1  0001aadbcd8cb923
2  0002c06b2440a5f9
3  0002eb1ee5a5a6b2
4  000594dad986513e

# Recognition Solution

In [37]:
recognition_solution = pd.read_csv("test/recognition_solution_v2.1.csv")

In [38]:
recognition_solution.shape

(117577, 3)

In [39]:
recognition_solution.head()

                 id landmarks    Usage
0  e324e0f3e6d9e504       NaN  Private
1  d9e17c5f3e0c47b3       NaN  Private
2  1a748a755ed67512       NaN   Public
3  537bf9bdfccdafea       NaN  Private
4  13f4c974274ee08b       NaN  Private

In [40]:
recognition_solution[recognition_solution['landmarks'].notnull()]

                      id landmarks    Usage
112     ed85edf01da02f26    179171   Public
155     4d5d0e6264e6c7e0    124703   Public
182     e153105026e18260    150977   Public
234     db635e33c17229bb     92607  Private
371     03b1294a0fa46763    184268  Private
...                  ...       ...      ...
117154  4e4e7fdca971442f     95197  Private
117242  efd80af423defb09    162786   Public
117264  90e066e0d0ac2827    188823  Private
117403  ee95080bf6187d9a    127232   Public
117572  e351c3e672c25fbd    190441   Public

[1972 rows x 3 columns]

# Retrieval Solution

In [41]:
retrieval_solution = pd.read_csv('test/retrieval_solution_v2.1.csv')

In [42]:
retrieval_solution.shape

(117577, 3)

In [43]:
retrieval_solution[retrieval_solution['Usage'] != 'Ignored'].head()

,id,images,Usage
20,9265ec6df51a366e,13b75d49867d477d 39cfce5ff10cb8f6 47a85cbcf849...,Public
74,67e40359b5e315cc,0abcae3d89059199 0f76cdc8baa4d8c3 156c8606cafa...,Private
279,58b7fad17f7d0cf5,3302f54d4a85173a 4995a5b67235ae47 5ad6bdf31ae5...,Public
364,f176e0fe5888f2d4,141125628b4ae151 307cdfaf4a2c85b9 3a00c1b715f3...,Private
1103,8d13fa3a2ed54167,fc116d940ebbd83b,Private